$main__color:#eb0000;
$dark__color: #121212;
$main__section__padding:rem(200);
$banner__main__h:115%;
$speed_duration: all .5s ease-in-out;
$container__padding__sm:rem(10);
$container__padding__lg:rem(40);